.body-ayu{
    position: relative;
    display: flex;
    width: 1440px;
height: 3700px;
background:#E5E5E5;;
}
/* .body{
    text-align: center !important;
} */
wrapper-grid-ayu {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(488px,1000px));
    justify-content: center;
  } 
  .h1-ayu2{
    visibility: hidden;
  }
.attend-ayu{
overflow: hidden;    
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 27px;

position: absolute;
width: 488px;
height: 154px;
left: 212px;
top: 2356px;

background: #F46D46;
border: 4px solid #000000;
box-sizing: border-box;

}
.size-ayu{
overflow: hidden; 
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 27px;

position: absolute;
width: 488px;
height: 159px;
left: 740px;
top: 2356px;

background: #CD307B;
border: 4px solid #000000;
box-sizing: border-box;

}
.individually-ayu{
overflow: hidden; 
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 27px;

position: absolute;
width: 488px;
height: 212px;
left: 212px;
top: 2534px;

background: #11A858;
border: 4px solid #000000;
box-sizing: border-box;
}
.confirmed-ayu{
overflow: hidden; 
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 27px;

position: absolute;
width: 488px;
height: 200px;
left: 740px;
top: 2539px;

background: #002BB5;
border: 4px solid #000000;
box-sizing: border-box;
}
.prizes-ayu{
    overflow: hidden; 
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 27px;

position: absolute;
width: 488px;
height: 174px;
left: 212px;
top: 2770px;

background: #FF6565;
border: 4px solid #000000;
box-sizing: border-box;
}
.session-ayu{
    overflow: hidden; 
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 27px;

position: absolute;
width: 488px;
height: 210px;
left: 740px;
top: 2763px;

background: #9648FB;
border: 4px solid #000000;
box-sizing: border-box;
}
.query-ayu{
    overflow: hidden; 
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 27px;

position: absolute;
width: 488px;
height: 146px;
left: 476px;
top: 3013px;

background: #FFFFFF;
border: 4px solid #000000;
box-sizing: border-box;
}
.h2-ayu2{
position: static;
width: 417px;
height: 36px;
left: 27px;
top: 24px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 36px;

color: #000000;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}
.p-ayu2{
position: absolute;
width: 434px;
height: 52px;
left: 27px;
top: 70px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* or 144% */


color: #000000;
}
.h1-ayu{
    position: absolute;
    width: 593px;
    height: 66px;
    left: 212px;
    top: 2250px;
    
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #000000;
    }
    .h2-ayu{
    position: static;
    width: 417px;
    left: 27px;
    top: 24px;
    
    font-family: DM Serif Text;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    color: #FFFFFF;
    
    }
    .p-ayu{
    position: static;
    width: 434px;
    height: 58px;
    left: 27px;
    top: 72px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    /* or 161% */
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
    }
    
    @media only screen and (max-width: 360px) {
        .body-ayu{
        position: relative;
width: 360px;
height: 3937px;

background:#E5E5E5; ;
        }
      .h2-ayu2{
        position: static;
width: 280px;
height: 10px;
left: 16px;
top: 42px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 140%;
/* or 17px */
color: #000000;
      }
      .p-ayu2{
          position: static;
width: 280px;
height: 34px;
left: 16px;
top: 42px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 140%;
/* or 17px */


color: #000000;


/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 4px 0px;
      }
      .h2-ayu{
        position: static;
width: 288px;
height: 30px;
left: 12px;
top: 12px;

font-family: DM Serif Text;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */
color: #FFFFFF;
      }
      .p-ayu{
        position: static;
width: 288px;
height: 34px;
left: 12px;
top: 38px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 140%;
/* or 17px */


color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 4px 0px;
      }
      .attend-ayu{
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;

position: static;
width: 312px;
height: 84px;
left: 0px;
top: 0px;

background: #F46D46;
border: 1.2356px solid #000000;
box-sizing: border-box;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;
      }
      .individually-ayu{
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;

position: static;
width: 312px;
height: 123px;
left: 0px;
top: 96px;

background: #11A858;
border: 1.2356px solid #000000;
box-sizing: border-box;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;
      }
      .prizes-ayu{
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 312px;
height: 109px;
left: 0px;
top: 231px;

background: #FF6565;
border: 1.2356px solid #000000;
box-sizing: border-box;

/* Inside Auto Layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 12px 0px;
      }
      .size-ayu{
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 312px;
height: 126px;
left: 0px;
top: 352px;

background: #CD307B;
border: 1.2356px solid #000000;
box-sizing: border-box;

/* Inside Auto Layout */

flex: none;
order: 3;
flex-grow: 0;
margin: 12px 0px;
      }
      .confirmed-ayu{
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 312px;
height: 126px;
left: 0px;
top: 490px;

background: #002BB5;
border: 1.2356px solid #000000;
box-sizing: border-box;

/* Inside Auto Layout */

flex: none;
order: 4;
flex-grow: 0;
margin: 12px 0px;
      }
      .session-ayu{
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 312px;
height: 109px;
left: 0px;
top: 628px;

background: #9648FB;
border: 1.2356px solid #000000;
box-sizing: border-box;

/* Inside Auto Layout */

flex: none;
order: 5;
flex-grow: 0;
margin: 12px 0px;
      }
      .query-ayu{
      display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
width: 312px;
height: 92px;
left: 0px;
top: 749px;

background: #FFFFFF;
border: 1.2356px solid #000000;
box-sizing: border-box;

/* Inside Auto Layout */

flex: none;
order: 6;
flex-grow: 0;
margin: 12px 0px;
}
.h1-ayu{
    visibility: hidden;
  }
  .h1-ayu2{
    visibility: visible;
  }
      }


    